/* light green: rgb(170, 222, 163);

orange: rgb(255, 205, 98)

light gray: rgb(227, 227, 227)*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading1 {
  display: flex;
  align-content: flex-start;
  padding-left: 10px; 
  color:rgb(170, 222, 163);
}

/* *********** navbar styling *********** */

a {
  color: rgb(170, 222, 163);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.myLinks {
  background-color: rgb(170, 222, 163);
  color: white;
  z-index: 10;
  position: absolute;
  width: 100vw;
}

.myLinks a {
  color: white;
}

.name {
  font-weight: bolder;
  font-size: large;
}

.topnav {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 90vw;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* *********** trivia styling *********** */

.closeTrivia {
  width: fit-content;
  border-radius: 50%;
  border: none;
  background-color: rgba(145, 145, 145, 0.495);
  color: white;
}

.empty {
  display: none;
}

.headerPhoto {
  width: 100vw;
  max-height: 30vh;
  object-fit: cover
}

.openTrivia {
  width: 40vw;
  padding: 10px;
  position: absolute;
  right: 20%;
  left: 30%;
  top: 50%;
  background-color: rgb(170, 222, 163);
  color: white;
  text-shadow: 1px 1px 1px rgb(179, 179, 179);
  font-weight: bold;
  font-size: 100%;
  border: none;
  border-radius: 5%;
}

.trivia {
  position: relative;
  align-content: center;
}

.triviaBody {
  border: 1px solid black; 
  padding: 5px;
  display: flex;
  flex-direction: column; 
  justify-content: space-evenly;
}

.triviaText {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 80vw;
  z-index: 6;
  border-radius: 5px;
  top: 100px;
  left: 8%;
  position: fixed;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
  color: black;
  background-color: white;
}


/* *********** random recipe styling *********** */

a {
  margin: 0px; 
  padding: 0px;
}

.cardName {
  font-size: 70%;
  font-weight: 450;
  flex: 2; 
  padding: 0px 5px;
  margin: 0px;
  color: black;
}

.cardPhoto {
  max-width: 30%;  
  flex: 1; 
  border-radius: 5%;
}

.cardSidebar {
  font-size: 10px;
  color: rgb(147, 191, 142);
  flex: 1;
}

.centeredCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.quickInfo {
  flex: 2.5;
  display: flex; 
  align-items: flex-start;
  justify-content: flex-start;
}

.randomRecipes {
  width: 100vw; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipeCard {
  width: 95vw;
  min-height: 67.05px;
  display: flex; 
  flex-direction: row;
  align-items: flex-start; 
  border: 1px solid rgb(227, 227, 227);
  box-shadow: 2px 2px 6px rgb(147, 147, 147);
  border-radius: 5px;
  overflow: hidden; 
  margin: 5px; 
}

/* *********** one recipe page styling *********** */ 

.instructions {
  font-weight: 250;
  margin: 5px !important; 
}

.oneRecipeInfo {
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
}

.oneRecipeInfo img{
  width: 100%;
}

.recipeStats {
  display: flex; 
  align-items: flex-start;
  justify-content: space-between;
  margin: 5px; 
}

.stats {
  display: flex;  
  align-items: center;
}

.stats img {
  width: 25px; 
  height: 25px;
}

.stats p {
  padding-left: 5px; 
}

.subtext {
  font-weight: 150;
  font-size: 15px;
  padding-left: 10px !important; 
}

.subheading {
  color:rgb(170, 222, 163);
}

.textInfo {
  padding-left: 10px; 
}

.textInfo p {
  padding: 0px;
  margin: 0px; 
}

/* *********** bottom of page container *********** */ 

.bottomCon {
  display: flex; 
  align-items: center;
  justify-content: center;
  padding: 10px; 
  color:rgb(170, 222, 163);
}

.bottomCon p { 
  text-align: center;
}